.full-size {
    min-height: 100vh;
}

.feature-item {
    width: 100vw;
}

table.no-border-bottom tr:last-of-type td.hope-td {
    border-bottom-width: 0 !important;
}

.mini-alert {
    position: absolute;
    bottom: 3em;
    right: 2em;
}