.full-size {
    min-height: 100vh;
}

.update-panel {
    min-height: 80vh;
}

.feature-item {
    width: 100vw;
    position: relative;
}

table.no-border-bottom tr:last-of-type td.hope-td {
    border-bottom-width: 0 !important;
}

.mini-alert {
    position: fixed !important;
    bottom: 2em;
    right: 2em;
}

.card-platform {
    // position: absolute;
    // top: 0.5em;
    // left: 0.5em;
    margin-top: -2em;
    margin-bottom: 0.5em;
}